'scopeName': 'source.telosys.vm'
'name': 'templates.telosys'
'fileTypes': [
  'vm'
]
'patterns': [
  {
    # vm:Comment
    'name': 'text.comment.telosys.vm'
    'match': '##.+'
	},
  {
    # vm:Reserved words
    'name': 'keyword.control.telosys.vm'
    'match': '(#assertFalse|#assertTrue|#break|#checkId|#define|#elseif|#else|#end|#error|#evaluate|#foreach|#if|#include|#macro|#parse|#set|#stop|#using)'
	},
  {
    # vm:Variables
    'name': 'entity.constant.telosys.vm'
    'captures':
        '1':
          'name': 'entity.constant.telosys.vm'
        '2':
          'name': 'entity.constant.telosys.vm'
        '4':
          'name': 'entity.constant.telosys.vm'
        '5':
          'name': 'entity.constant.telosys.vm'
        '3':
          'name': 'storage.type.function.vm'
        '7':
          'name': 'storage.type.function.vm'
    'match': '([$][a-zA-Z0-9-_.]+|[$][{][a-zA-Z0-9-_.]+[}])|([$][{][a-zA-Z0-9-_]+[.])+([a-zA-Z0-9-_]+)([(][a-zA-Z0-9-_$]+)([|.][a-zA-Z0-9-_]+[)][}]|[.]([a-zA-Z0-9-_]+)[(]+[a-zA-Z0-9-_$]+[|.]([a-zA-Z0-9-_$]+)[)|(][)|$a-zA-Z0-9-_.]+[}]|[)][}])'
	}
]
